@import "tailwindcss";

:root {
    --main-color: #0B72FF;
    --text-color: #1e2939;
    --secound-text-color: ;
    --shop-bg: #EDEEEB;
}

.background {
    background-color: var(--main-color);
}

.text-color {
    color: #ffff;
}

body {
    background-color: var(--shop-bg);
    color: var(--text-color);
}