@import "tailwindcss";

:root {
    --main-color: #0B72FF;
    --text-color: #1e2939;
    --secound-text-color: ;
    --shop-bg: #BFC0BE;
}

body {
    color: var(--text-color);
    overflow-x: hidden;
}

.background {
    background-color: var(--main-color);
}

.text-color {
    color: #ffff;
}


.button {
    padding: 4px 12px;
    font-size: 16px;
    font-weight: 500;
    color: #ffff;
    background-color: var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}

.image {
    width: 185px;
    height: auto;
}

.product-image:hover {
    transition: .75s;
    transform: translate(0, -20px);
}

.loading {
    border-top: 5px solid var(--main-color);
    border-right: 5px solid var(--main-color);
    border-radius: 50%;
    padding: 30px;
}

.cart-counter {
    background-color: rgb(249, 70, 70);
    padding: 0px 6px;
    position: absolute;
    top: -8;
    right: -8;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
}

.cart-box {
    padding: 15px 5px;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.324);
    border-radius: 10px;
}

.input {
    width: 100%;
    height: 50px;
    padding: 2px 10px;
    outline: none;
    margin-bottom: 10px;
    border-radius: 8px;
}

.hover:hover {
    transition: .5s;
    opacity: .85;
}

.modal {
    border-radius: 10px;
    border: 1px solid var(--main-color);
    background-color: #fff;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: modalAni .35s ease-in-out 1 alternate;
}

@keyframes modalAni {
    0% {
        opacity: 0;
        transform: translate(-50%, -100%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.link-style {
    border-left: 4px solid white;
}