@import "tailwindcss";

:root {
    --main-color: #0B72FF;
    --text-color: #1e2939;
    --secound-text-color: ;
    --shop-bg: #BFC0BE;
}

.background {
    background-color: var(--main-color);
}

.text-color {
    color: #ffff;
}

body {
    background-color: var(--shop-bg);
    color: var(--text-color);
}

.button {
    padding: 4px 12px;
    font-size: 16px;
    font-weight: 500;
    color: #ffff;
    background-color: var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}

.image {
    width: 185px;
    height: auto;
}

.product-image:hover {
    transition: .75s;
    transform: translate(0, -20px);
}